<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />
<div style="width:100%;text-align: center;" >
<h1>Weblife Store</h1>
test
<%=render :partial=>"/shared/success_error",:locals=>{:success_class_name=>"user_login_margin",:error_class_name=>""}%>

<% form_tag session_path do -%>
<table align="center">
  <tr>
    <td colspan="2" ></td>
  </tr>
  <tr>
    <td><%= label_tag 'login' %></td>
    <td><%= text_field_tag 'login', @login %></td>
    </tr>
  <tr>
    <td><%= label_tag 'password' %></td>
    <td><%= password_field_tag 'password', nil %></td>
  </tr>
  <tr>
    <td colspan="2" align="center" >
      <%= submit_tag 'Log in' %>
    </td>
  </tr>

</table>
<% end -%>
</div>