<%=render :partial=>"/shared/success_error",:locals=>{:success_class_name=>"user_created_margin",:error_class_name=>""}%>
<%= form_tag({:action => 'meta_data'}, :multipart => true)%>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <b>Promo Tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :promo_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Backup table heading</b>
    </td>
    <td>
      <%=text_area(:meta_data, :backup_table_heading, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Backup Table Text</b>
    </td>
    <td>
      <%=text_area(:meta_data, :backup_table_text, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Where pro coming open tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :where_pro_coming_open_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>PDF logo image url</b>
    </td>
    <td>
      <%=text_area(:meta_data, :pdf_logo_image_url, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Open table tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :open_table_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Open table tag 1 of 3</b>
    </td>
    <td>
      <%=text_area(:meta_data, :open_table_tag_1_of_3, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Open table tag 2 of 3:</b>
    </td>
    <td>
      <%=text_area(:meta_data, :open_table_tag_2_of_3, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Open table tag 3 of 3</b>
    </td>
    <td>
      <%=text_area(:meta_data, :open_table_tag_3_of_3, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Close table tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :close_table_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Where pro coming mid section</b>
    </td>
    <td>
      <%=text_area(:meta_data, :where_pro_coming_mid_section, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Where pro coming close tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :where_pro_coming_close_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Product title OT</b>
    </td>
    <td>
      <%=text_area(:meta_data, :product_title_ot, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Product title CT</b>
    </td>
    <td>
      <%=text_area(:meta_data, :product_title_ct, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Related downloads OT</b>
    </td>
    <td>
      <%=text_area(:meta_data, :related_downloads_ot, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>RE DL Code 1 of 3</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_1_of_3, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>RE DL Code 2 of 3</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_2_of_3, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>RE DL code 3 of 3</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_3_of_3, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>RE DL Code a1</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_a1, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>RE DL code a1 table</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_a1_table, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>RE DL code a2</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_a2, :cols => 60, :rows => 5)%>
    </td>
  </tr>



  <tr>
    <td>
      <b>RE DL code a2 table</b>
    </td>
    <td>
      <%=text_area(:meta_data, :re_dl_code_a2_table, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>MAN title OT</b>
    </td>
    <td>
      <%=text_area(:meta_data, :man_title_ot, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>MAN title CT</b>
    </td>
    <td>
      <%=text_area(:meta_data, :man_title_ct, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Reference OT</b>
    </td>
    <td>
      <%=text_area(:meta_data, :reference_ot, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Reference mid tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :reference_mid_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Reference mid 2</b>
    </td>
    <td>
      <%=text_area(:meta_data, :reference_mid_2, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Reference End tag</b>
    </td>
    <td>
      <%=text_area(:meta_data, :reference_end_tag, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Instructions</b>
    </td>
    <td>
      <%=text_area(:meta_data, :instructions, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Shipping calculator</b>
    </td>
    <td>
      <%=text_area(:meta_data, :shipping_calculator, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Return detail open</b>
    </td>
    <td>
      <%=text_area(:meta_data, :return_detail_open, :cols => 60, :rows => 5)%>
    </td>
  </tr>
  <tr>
    <td>
      <b>Return detail close</b>
    </td>
    <td>
      <%=text_area(:meta_data, :return_detail_close, :cols => 60, :rows => 5)%>
    </td>
  </tr>
</table>


    <%= submit_tag 'Submit' %>
</form>