<%= form_tag({:action => 'output'}, :multipart => true)%>
<%=render :partial=>"/shared/search_results",:locals=>{:title=>"Output Results"}%>
    <%= submit_tag 'Submit' %>
</form>


<%if !@results.blank?%>
<div style="width:650px;height:350px;overflow:scroll;" >
<table border="1" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td>
      <b>No.</b>
    </td>
    <td>
      <b>Product ID</b>
    </td>
    <td>
      <b>Name</b>
    </td>
    <td>
      <b>Code</b>
    </td>
    <td>
      <b>Manufacturer</b>
    </td>
    <td>
      <b>Ship Weight</b>
    </td>
    <td>
      <b>Model No</b>
    </td>
    <td>
      <b>Return Details</b>
    </td>
    <td>
      <b>Name for feed under 70</b>
    </td>
    <td>
      <b>Description</b>
    </td>
    <td>
      <b>Shipping Costs</b>
    </td>
    <td>
      <b>Et Right Order</b>
    </td>
    <td>
      <b>Path</b>
    </td>
    <td>
      <b>Options</b>
    </td>
    <td>
      <b>Availability</b>
    </td>
    <td>
      <b>Shipping time</b>
    </td>
    <td>
      <b>Warranty</b>
    </td>
    <td>
      <b>USPS</b>
    </td>
    <td>
      <b>Image</b>
    </td>
    <td>
      <b>Inset</b>
    </td>
    <td>
      <b>Inset-2</b>
    </td>
    <td>
      <b>Inset-3</b>
    </td>
    <td>
      <b>Inset-4</b>
    </td>
    <td>
      <b>Inset-5</b>
    </td>
    <td>
      <b>Material</b>
    </td>
    <td>
      <b>Style</b>
    </td>
    <td>
      <b>Color</b>
    </td>
    <td>
      <b>Model no</b>
    </td>
    <td valign="top">
      <b>Free ship method</b>
    </td>
    <td valign="top">
      <b>Taxable</b>
    </td>
    <td valign="top">
      <b>Ship-alone</b>
    </td>
    <td valign="top">
      <b>Origin Zip</b>
    </td>
    <td valign="top">
      <b>Number-of-boxes</b>
    </td>
    <td valign="top">
      <b>Multi-box-weights</b>
    </td>
    <td valign="top">
      <b>Multi-box-dimensions</b>
    </td>
    <td valign="top">
      <b>Invalid Ship method</b>
    </td>
    <td valign="top">
      <b>Related Items</b>
    </td>
    <td valign="top">
      <b>Phone Number</b>
    </td>
    <td valign="top">
      <b>Item Number visibility</b>
    </td>
    <td valign="top">
      <b>Related Items</b>
    </td>

    <td valign="top">
      <b>Overall size</b>
    </td>
    <td valign="top">
      <b>Good Margins</b>
    </td>
    <td valign="top">
      <b>size for data feeds</b>
    </td>
    <td valign="top">
      <b>ships within for feeds</b>
    </td>

    <td valign="top">
      <b>disclaimer name</b>
    </td>
    <td valign="top">
      <b>disclaimer text</b>
    </td>
    
  </tr>
  <%@results.each_with_index do |product,index|%>
  <tr>
    <td valign="top">
      <%=index+1%>
    </td>
    <td valign="top">
      <%=product.product_id%>
    </td>
    <td valign="top">
      <%=highlight(product.name,params[:search_text], :highlighter => '<strong>\1</strong>')%>
    </td>
    <td valign="top">
      <%=highlight(product.code,params[:search_text], :highlighter => '<strong>\1</strong>')%>
    </td>
    <td valign="top">
      <%=highlight(product.manufacturer,params[:search_text], :highlighter => '<strong>\1</strong>')%>
    </td>
    <td valign="top">
      <%=product.output_ship_weight%>
    </td>
    <td valign="top">
      <%=product.output_model_no%>
    </td>
    <td valign="top">
      <%=product.output_return_details%>
    </td>
    <td valign="top">
      <%=product.output_need_for_feed_under_70%>
    </td>
    <td valign="top">
      <%=product.Item_description_with_html%>
    </td>
    <td valign="top">
      <%=product.output_shipping_costs%>
    </td>
    <td valign="top">
      <%=product.output_et_right_order%>
    </td>
    <td valign="top">
      <%=product.path%>
    </td>
    <td valign="top">
      <%=product.options%>
    </td>
    <td valign="top">
      <%=product.availability%>
    </td>
    <td valign="top">
      <%=product.shipping_time%>
    </td>
    <td valign="top">
      <%=product.warranty%>
    </td>
   <td valign="top">
      <%=(product.is_usps_approved)?("Yes"):("No")%>
    </td>
    <td valign="top">
      <%=product.image%>
    </td>
    <td valign="top">
      <%=product.inset.inset%>
    </td>
    <td valign="top">
      <%=product.inset.inset_2%>
    </td>
    <td valign="top">
      <%=product.inset.inset_3%>
    </td>
    <td valign="top">
      <%=product.inset.inset_4%>
    </td>
    <td valign="top">
      <%=product.inset.inset_5%>
    </td>
    <td valign="top">
      <%=product.property.material%>
    </td>
    <td valign="top">
      <%=product.property.style%>
    </td>
    <td valign="top">
      <%=product.property.color%>
    </td>
    <td valign="top">
      <%=product.output_model_no%>
    </td>
    <td valign="top">
      <%=product.free_ship_method%>
    </td>
    <td valign="top">
      <%=(product.taxable)?("Yes"):("No")%>
    </td>
    <td valign="top">
      <%=(product.ship_alone)?("Yes"):("No")%>
    </td>
    <td valign="top">
      <%=product.output_origin_zip%>
    </td>
    <td valign="top">
      <%=product.output_no_of_boxes%>
    </td>
    <td valign="top">
      <%=product.output_multibox_weights%>
    </td>
    <td valign="top">
      <%=product.output_multibox_dimensions%>
    </td>
    <td valign="top">
      <%=product.output_invalid_ship_method%>
    </td>
    <td valign="top">
      <%=product.related_Items%>
    </td>
    <td valign="top">
      <%=(product.phone_number_visibility)?("Yes"):("No")%>
    </td>
    <td valign="top">
      <%=(product.item_number_visiblity)?("Yes"):("No")%>
    </td>
    <td valign="top">
      <%=product.related_Items%>
    </td>
    <td valign="top">
      <%=product.property.overall_size%>
    </td>


    <td valign="top">
      <%=product.output_good_margins%>
    </td>
    <td valign="top">
      <%=product.output_size_for_data_feeds%>
    </td>
    <td valign="top">
      <%=product.output_ships_within_for_feed%>
    </td>
    <td valign="top">
      <%=product.disclaimer_name%>
    </td>
    <td valign="top">
      <%=product.disclaimer_text%>
    </td>
  </tr>
  <%end%>
</table>
</div>
<%=render :partial=>"export_csv"%>
<%elsif request.post?%>
<b>No Record Found</b>
<%end%>


