<%= form_tag({:action => 'search_items'}, :multipart => true)%>
<%=render :partial=>"/shared/search_results",:locals=>{:title=>"Edit Items"}%>
    <%= submit_tag 'Submit' %>
</form>
<%if !@results.blank?%>
<div style="width:650px;height:350px;overflow:scroll;" >
  <table border="1" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td>&nbsp;</td>
        <td><b>No.</b></td>
        <td><b>Product ID</b></td>
        <td><b>Name</b></td>
        <td><b>Code</b></td>
        <td><b>Manufacturer</b></td>
        <td nowrap><b>Path</b></td>
        <td nowrap><b>Item Description - HTML</b></td>
        <td><b>Options</b></td>
        <td><b>actual-weight</b></td>
        <td nowrap><b>ship-weight</b></td>
        <td><b>Material</b></td>
        <td><b>Style</b></td>
        <td><b>Color</b></td>
        <td><b>Overall size</b></td>
        <td><b>Wholesale Cost</b></td>
        <td><b>Map Pricing</b></td>
        <td nowrap><b>Item Description - NO HTML</b></td>
        <td><b>return details</b></td>
        <td><b>Availability</b></td>
        <td><b>Shipping-Time</b></td>
        <td><b>Warranty</b></td>
        <td><b>Is USPS Approved</b></td>
        <td><b>Image</b></td>
        <td><b>Inset </b></td>
        <td><b>Inset 2</b></td>
        <td><b>Inset 3</b></td>
        <td><b>Inset 4</b></td>
        <td><b>Inset 5</b></td>
        <td><b>Related Items</b></td>
        <td><b>Related Referrence SKU</b></td>
        <td nowrap><b>Promo Code Section Availablility</b></td>
        <td><b>Inset 6</b></td>
        <td><b>Inset 7</b></td>
        <td><b>Inset 8</b></td>
        <td><b>Inset 9</b></td>
        <td><b>Disclaimer Name</b></td>
        <td><b>Disclaimer Text</b></td>
        <td><b>Url link 1</b></td>
        <td><b>Anchor text 1</b></td>
        <td><b>Url link 2</b></td>
        <td><b>Anchor text 2</b></td>
        <td><b>Url link 3</b></td>
        <td><b>Anchor text 3</b></td>
        <td><b>Url link 4</b></td>
        <td><b>Anchor text 4</b></td>
        <td><b>Url link 5</b></td>
        <td><b>Anchor text 5</b></td>
        <td><b>Url link 6</b></td>
        <td><b>Anchor text 6</b></td>
        <td><b>Url link 7</b></td>
        <td><b>Anchor text 7</b></td>
        <td><b>Url link 8</b></td>
        <td><b>Anchor text 8</b></td>
        <td><b>Url link 9</b></td>
        <td><b>Anchor text 9</b></td>
        <td><b>Url link 10</b></td>
        <td><b>Anchor text 10</b></td>
        <td><b>Product cmng img tag html</b></td>
        <td><b>Brief summary of menu</b></td>
        <td><b>Freight cost overide</b></td>
        <td><b>PO Description details</b></td>
        <td><b>Origin Zip</b></td>
        <td><b>No of Boxes</b></td>
        <td><b>Multi Box weights</b></td>
        <td><b>Multi Box dimensions</b></td>
        <td><b>Invalid ship methods</b></td>
        <td><b>Phone number visibility</b></td>
        <td><b>Item number visibility</b></td>
      </tr>
      <%@results.each_with_index do |product,index|%>
        <tr>
            <td valign="top">
              <%=button_to_remote("Edit", {:url=>edit_item_url(product)}, {})%>
            </td>
            <td valign="top">
              <%=index+1%>
            </td>
            <td valign="top">
              <%=product.product_id%>
            </td>
            <td valign="top">
              <%=highlight(product.name,params[:search_text], :highlighter => '<strong>\1</strong>')%>
            </td>
            <td valign="top">
              <%=highlight(product.code,params[:search_text], :highlighter => '<strong>\1</strong>')%>
            </td>
            <td valign="top">
              <%=highlight(product.manufacturer,params[:search_text], :highlighter => '<strong>\1</strong>')%>
            </td>
            <td valign="top">
              <%=product.path%>
            </td>
            <td valign="top"><%=product.Item_description_with_html%>
            </td>
            <td valign="top"><%=product.options%></td>
            <td valign="top"><%=product.property.actual_weight%></td>
            <td valign="top"><%=product.property.ship_weight%></td>
            <td valign="top"><%=product.property.material%></td>
            <td valign="top"><%=product.property.style%></td>
            <td valign="top"><%=product.property.color%></td>
            <td valign="top"><%=product.property.overall_size%></td>
            <td valign="top"><%=product.property.wholesale_cost%></td>
            <td valign="top"><%=product.property.map_pricing%></td>
            <td valign="top"><%=product.Item_description_without_html%></td>
            <td valign="top"><%=product.return_details%></td>
            <td valign="top"><%=product.availability%></td>
            <td valign="top"><%=product.shipping_time%></td>
            <td valign="top"><%=product.warranty%></td>
            <td valign="top"><%=product.boolean_ups_approved_field%></td>
            <td valign="top"><%=product.image%></td>
            <td valign="top"><%=product.inset.inset%></td>
            <td valign="top"><%=product.inset.inset_2%></td>
            <td valign="top"><%=product.inset.inset_3%></td>
            <td valign="top"><%=product.inset.inset_4%></td>
            <td valign="top"><%=product.inset.inset_5%></td>
            <td valign="top"><%=product.related_Items%></td>
            <td valign="top"><%=product.related_referrence_sku%></td>
            <td valign="top"><%=product.boolean_promo_code_section_availablility%></td>
            <td valign="top"><%=product.inset.inset_6%></td>
            <td valign="top"><%=product.inset.inset_7%></td>
            <td valign="top"><%=product.inset.inset_8%></td>
            <td valign="top"><%=product.inset.inset_9%></td>
            <td valign="top"><%=product.disclaimer_name%></td>
            <td valign="top"><%=product.disclaimer_text%></td>
            <td valign="top"><%=product.url_link.url_link_1%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_1%></td>
            <td valign="top"><%=product.url_link.url_link_2%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_2%></td>
            <td valign="top"><%=product.url_link.url_link_3%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_3%></td>
            <td valign="top"><%=product.url_link.url_link_4%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_4%></td>
            <td valign="top"><%=product.url_link.url_link_5%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_5%></td>
            <td valign="top"><%=product.url_link.url_link_6%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_6%></td>
            <td valign="top"><%=product.url_link.url_link_7%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_7%></td>
            <td valign="top"><%=product.url_link.url_link_8%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_8%></td>
            <td valign="top"><%=product.url_link.url_link_9%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_9%></td>
            <td valign="top"><%=product.url_link.url_link_10%></td>
            <td valign="top"><%=product.text_anchor.anchor_text_10%></td>
            <td valign="top"><%=product.product_cmng_img_tag_html%></td>
            <td valign="top"><%=product.brief_summary_of_menu%></td>
            <td valign="top"><%=product.po_description_details%></td>
            <td valign="top"><%=product.freight_cost_overide%></td>
            <td valign="top"><%=product.origin_zip%></td>
            <td valign="top"><%=product.property.number_of_boxes%></td>
            <td valign="top"><%=product.property.multi_box_weights%></td>
            <td valign="top"><%=product.property.multi_box_dimensions%></td>
            <td valign="top"><%=product.invalid_ship_methods%></td>
            <td valign="top"><%=product.boolean_phone_number_visibility%></td>
            <td valign="top"><%=product.boolean_item_number_visiblity%></td>
          </tr>
  <%end%>
  </table>
</div>
<%elsif request.post?%>
<b>No Record Found</b>
<%end%>

<div id="success_msg" ></div>

<div id="individual_item" >

</div>
