<h3>Stores list</h3>
<%=render :partial=>"/shared/success_error",:locals=>{:success_class_name=>"user_created_margin",:error_class_name=>""}%>
<p style="float:right" >
<%=link_to "Create New Store",new_store_path%>
  </p>

  <br/><br/><br/>
  <div style=" background-color: greenyellow;" >&nbsp;&nbsp;<b>Normal Stores</b></div>
  <br/>
<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="width:50%" ><b>Name</b></td>
    <td style="width:20%" ><b>Status</b></td>
    <td style="width:15%" ><b>Type</b></td>
    <td style="width:5%" ><b>Edit</b></td>
    <td style="width:5%" >&nbsp;</td>
    <td style="width:5%" ><b>Delete</b></td>
  </tr>
<%@normal_stores.each do |store| %>
  <tr>
    <td><%=store.name%></td>
    <td><%=(store.is_active)?("Active"):("Inactive")%></td>
    <td><%=(store.store_type.to_s=="1")?("Store"):("Other")%></td>
    <td><%=link_to "Edit",edit_store_path(store)%></td>
    <td>&nbsp;</td>
    <td><%= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%end%>

</table>
  
  <br/><br/>
  <div style=" background-color:greenyellow;" > &nbsp;&nbsp; <b>Compscrapers related Stores</b></div>
  <br/>
<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="width:50%" ><b>Name</b></td>
    <td style="width:20%" >&nbsp;</td>
    <td style="width:15%" >&nbsp;</td>
    <td style="width:5%" ><b>Edit</b></td>
    <td style="width:5%" >&nbsp;</td>
    <td style="width:5%" ><b>Delete</b></td>
  </tr>
<%@compscraper_stores.each do |store| %>
  <tr>
    <td><%=store.name%></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%=link_to "Edit",edit_store_path(store)%></td>
    <td>&nbsp;</td>
    <td><%= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%end%>

</table>