<table width="100%">
  <tr>
    <td><h3>Upload compscraper File</h3></td>
    <td align="right" ><%=link_to "click here to download a template file",download_compscrapper_path%></td>
  </tr>
</table>




<br/><br/>
<%=render :partial=>"/shared/success_error",:locals=>{:success_class_name=>"user_created_margin",:error_class_name=>"user_created_margin"}%>
<table border="1" cellspacing="10" cellpadding="0" >
  <tr>
    <td>
        <%=link_to "New Upload",upload_compscraper_file_path%>
    </td>
    <td>
      <%=link_to "Add",save_compscraper_path%>
    </td>
    <td>
    <%=link_to "Revert",revert_compscraper_path((!@compscrapers.blank?)?(@compscrapers.total_entries):())%>
    </td>
  </tr>
  <tr>
    <td colspan="3" >
  <%= form_tag({:action => 'upload_compscraper_file'}, :multipart => true)%>
    <label for="file">File to Upload</label>
        <%= file_field_tag "file" %>
    <%= submit_tag 'Upload' %>
   <%=form_tag %>
    </td>
  </tr>
</table>
<%if !@compscrapers.blank?%>

<%@compscrapers.first.valid?%>
    <table border="0" cellspacing="10" cellpadding="0" >
      <tr>
        <td colspan="2" >
          <b>Warnings</b>
        </td>
      </tr>
      <%count=1%>
      <%@compscrapers.first.errors.each do |field,error|%>
      <tr>
        <td>
          <%if count==1%>
          <b>Warnings:</b>
          <%else%>
          &nbsp;
          <%end%>
          <%count+=1%>
        </td>
        <td><%=error%></td>
      </tr>
      <%end%>
    </table>

    <table border="0" cellspacing="10" cellpadding="0" >
      <tr>
        <td colspan="2" >
          <b>View Individual Records

          </b>

        </td>
      </tr>
      <tr>
        <td><%= page_entries_info @compscrapers, :entry_name => '' %></td>
        <td>
          <table>
            <tr>
              <td>
                <%= form_tag({:action => 'upload_products_file'},:method=>"get", :multipart => true)%>
              Jump to #<%=text_field_tag "page",nil,{:size=>"2px"}%>
              <%= submit_tag 'Go' %>
              <%=form_tag %>
              </td>
              <td><%= will_paginate @compscrapers %></td>
            </tr>
          </table>

        </td>
      </tr>
      <%@compscrapers.each do |compscraper|%>
          <tr valign="top">
            <td nowrap><b>Item search phrase</b></td>
            <td>
              <%=compscraper.item_search_phrase%>
              <%unless compscraper.errors.on(:item_search_phrase).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:item_search_phrase)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Word that occur:</b></td>
            <td>
              <%=compscraper.word_that_occur%>
              <%unless compscraper.errors.on(:word_that_occur).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:word_that_occur)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Sort Options:</b></td>
            <td>
              <%=compscraper.sort_options%>
              <%unless compscraper.errors.on(:sort_options).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:sort_options)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Lowest Price:</b></td>
            <td>
              <%=compscraper.lowest_price%>
              <%unless compscraper.errors.on(:lowest_price).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_price)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>2nd:</b></td>
            <td>
              <%=compscraper.lowest_price_2%>
              <%unless compscraper.errors.on(:lowest_price_2).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_price_2)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>3rd:</b></td>
            <td>
              <%=compscraper.lowest_price_3%>
              <%unless compscraper.errors.on(:lowest_price_3).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_price_3)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>4th:</b></td>
            <td>
              <%=compscraper.lowest_price_4%>
              <%unless compscraper.errors.on(:lowest_price_4).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_price_4)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>5th:</b></td>
            <td>
              <%=compscraper.lowest_price_5%>
              <%unless compscraper.errors.on(:lowest_price_5).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_price_5)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>6th:</b></td>
            <td>
              <%=compscraper.lowest_price_6%>
              <%unless compscraper.errors.on(:lowest_price_6).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_price_6)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Lowest Site:</b></td>
            <td>
              <%=compscraper.lowest_site%>
              <%unless compscraper.errors.on(:lowest_site).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_site)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>2nd Site:</b></td>
            <td>
              <%=compscraper.lowest_site_2%>
              <%unless compscraper.errors.on(:lowest_site_2).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_site_2)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>3rd Site:</b></td>
            <td>
              <%=compscraper.lowest_site_3%>
              <%unless compscraper.errors.on(:lowest_site_3).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_site_3)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>4th Site:</b></td>
            <td>
              <%=compscraper.lowest_site_4%>
              <%unless compscraper.errors.on(:lowest_site_4).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_site_4)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>5th Site:</b></td>
            <td>
              <%=compscraper.lowest_site_5%>
              <%unless compscraper.errors.on(:lowest_site_5).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_site_5)%>)</label>
              <%end%>

            </td>
          </tr>
          <tr valign="top">
            <td nowrap><b>6th Site:</b></td>
            <td>
              <%=compscraper.lowest_site_6%>
              <%unless compscraper.errors.on(:lowest_site_6).blank?%>
              <label style="color:red;" > (<%=compscraper.errors.on(:lowest_site_6)%>)</label>
              <%end%>

            </td>
          </tr>

      <%end%>
    </table>

<%end%>
 