<h3>Users list</h3>
<%=render :partial=>"/shared/success_error",:locals=>{:success_class_name=>"user_created_margin",:error_class_name=>""}%>
<p style="float:right" >
<%=link_to "Create New User",new_user_path%>
  </p>

<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="width:10%" ><b>Login</b></td>
    <td style="width:35%" ><b>Email</b></td>
    <td style="width:15%" ><b>Status</b></td>
    <td style="width:15%" ><b>Edit</b></td>
    <td style="width:20%" >&nbsp;</td>
    <td style="width:20%" ><b>Delete</b></td>
  </tr>
<%@users.each do |user| %>
  <tr>
    <td><%=user.login%></td>
    <td><%=user.email%></td>
    <td><%=user.state%></td>
    <td><%=link_to "Edit",edit_user_path(user)%></td>
    <td><%=link_to "Login",login_from_admin_path(user)%></td>
    <td><%if user.is_admin%>N/A<%else%><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
  </tr>
<%end%>

</table>