<div style="width:700px;height:550px;overflow:scroll;" >
<table border="1" cellspacing="0" cellpadding="0" width="100%">
  <tr class="gray_bgcolor" >
      <%if is_edit%>
        <td>&nbsp;</td>
        <%end%>
        <td><b>No.</b></td>
        <td><b>Product ID</b></td>
        <td><b>Name</b></td>
        <td><b>Code</b></td>
        <td><b>Manufacturer</b></td>
        <td nowrap><b>Path</b></td>
        <td nowrap><b>Item Description - HTML</b></td>
        <td><b>Options</b></td>
        <td nowrap><b>actual-weight</b></td>
        <td nowrap><b>ship-weight</b></td>
        <td><b>Material</b></td>
        <td><b>Style</b></td>
        <td><b>Color</b></td>
        <td nowrap><b>Overall size</b></td>
        <td nowrap><b>Wholesale Cost</b></td>
        <td nowrap ><b>Map Pricing</b></td>
        <td nowrap><b>Item Description - NO HTML</b></td>
        <td nowrap><b>return details</b></td>
        <td><b>Availability</b></td>
        <td><b>Shipping-Time</b></td>
        <td><b>Warranty</b></td>
        <td nowrap><b>Is USPS Approved</b></td>
        <td><b>Image</b></td>
        <td><b>Inset </b></td>
        <td><b>Inset 2</b></td>
        <td><b>Inset 3</b></td>
        <td><b>Inset 4</b></td>
        <td><b>Inset 5</b></td>
        <td nowrap><b>Related Items</b></td>
        <td nowrap><b>Related Referrence SKU</b></td>
        <td nowrap><b>Promo Code Section Availablility</b></td>
        <td><b>Inset 6</b></td>
        <td><b>Inset 7</b></td>
        <td><b>Inset 8</b></td>
        <td><b>Inset 9</b></td>
        <td nowrap><b>Disclaimer Name</b></td>
        <td nowrap><b>Disclaimer Text</b></td>
        <td nowrap><b>Url link 1</b></td>
        <td nowrap><b>Anchor text 1</b></td>
        <td nowrap><b>Url link 2</b></td>
        <td nowrap><b>Anchor text 2</b></td>
        <td nowrap><b>Url link 3</b></td>
        <td nowrap><b>Anchor text 3</b></td>
        <td nowrap><b>Url link 4</b></td>
        <td nowrap><b>Anchor text 4</b></td>
        <td nowrap><b>Url link 5</b></td>
        <td nowrap><b>Anchor text 5</b></td>
        <td nowrap><b>Url link 6</b></td>
        <td nowrap><b>Anchor text 6</b></td>
        <td nowrap><b>Url link 7</b></td>
        <td nowrap><b>Anchor text 7</b></td>
        <td nowrap><b>Url link 8</b></td>
        <td nowrap><b>Anchor text 8</b></td>
        <td nowrap><b>Url link 9</b></td>
        <td nowrap><b>Anchor text 9</b></td>
        <td nowrap><b>Url link 10</b></td>
        <td nowrap><b>Anchor text 10</b></td>
        <td nowrap><b>Product cmng img tag html</b></td>
        <td nowrap><b>Brief summary of menu</b></td>
        <td nowrap><b>Freight cost overide</b></td>
        <td nowrap><b>PO Description details</b></td>
        <td nowrap><b>Origin Zip</b></td>
        <td nowrap><b>No of Boxes</b></td>
        <td nowrap><b>Multi Box weights</b></td>
        <td nowrap><b>Multi Box dimensions</b></td>
        <td nowrap><b>Invalid ship methods</b></td>
        <td nowrap><b>Phone number visibility</b></td>
        <td nowrap><b>Item number visibility</b></td>
      </tr>
      <%products.each_with_index do |product,index|%>
        <tr>
          <%if is_edit%>
            <td valign="top" nowrap class="gray_bgcolor">
              <%=button_to_remote("Edit", {:url=>edit_item_url(product)}, {})%>
            </td>
            <%end%>
            <td valign="top" nowrap>
              <%=index+1%>
            </td>
            <td valign="top" nowrap >
              <label title="<%=product.product_id%>" ><%=truncate(product.product_id,16,"..")%></label>
            </td>
            <td valign="top" nowrap>
              <%=highlight(product.name,truncate(params[:search_text],90,".."), :highlighter => '<strong>\1</strong>')%>
            </td>
            <td valign="top" nowrap>
              <%=highlight(product.code,truncate(params[:search_text],16,".."), :highlighter => '<strong>\1</strong>')%>
            </td>
            <td valign="top" nowrap>
              <%=highlight(product.manufacturer,truncate(params[:search_text],16,".."), :highlighter => '<strong>\1</strong>')%>
            </td>
            <td valign="top" nowrap>
              <%=product.path%>
            </td>
            <td valign="top" nowrap><label title="<%=product.Item_description_with_html%>" ><%=truncate(product.Item_description_with_html,90,"..")%></label>
            </td>
            <td valign="top" nowrap><label title="<%=product.options%>"><%=truncate(product.options,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.actual_weight%>"><%=truncate(product.property.actual_weight,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.ship_weight%>"><%=truncate(product.property.ship_weight,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.material%>"><%=truncate(product.property.material,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.style%>"><%=truncate(product.property.style,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.color%>"><%=truncate(product.property.color,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.overall_size%>"><%=truncate(product.property.overall_size,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.wholesale_cost%>"><%=truncate(product.property.wholesale_cost,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.map_pricing%>"><%=truncate(product.property.map_pricing,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.Item_description_without_html%>"><%=truncate(product.Item_description_without_html,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.return_details%>"><%=truncate(product.return_details,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.availability%>"><%=truncate(product.availability,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.shipping_time%>"><%=truncate(product.shipping_time,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.warranty%>"><%=truncate(product.warranty,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><%=product.boolean_ups_approved_field%></td>
            <td valign="top" nowrap><label title="<%=product.image%>"><%=truncate(product.image,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset%>"><%=truncate(product.inset.inset,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_2%>"><%=truncate(product.inset.inset_2,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_3%>"><%=truncate(product.inset.inset_3,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_4%>"><%=truncate(product.inset.inset_4,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_5%>"><%=truncate(product.inset.inset_5,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.related_Items%>"><%=truncate(product.related_Items,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.related_referrence_sku%>"><%=truncate(product.related_referrence_sku,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><%=product.boolean_promo_code_section_availablility%></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_6%>"><%=truncate(product.inset.inset_6,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_7%>"><%=truncate(product.inset.inset_7,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_8%>"><%=truncate(product.inset.inset_8,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.inset.inset_9%>"><%=truncate(product.inset.inset_9,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.disclaimer_name%>"><%=truncate(product.disclaimer_name,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.disclaimer_text%>"><%=truncate(product.disclaimer_text,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_1%>"><%=truncate(product.url_link.url_link_1,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_1%>"><%=truncate(product.text_anchor.anchor_text_1,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_2%>"><%=truncate(product.url_link.url_link_2,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_2%>"><%=truncate(product.text_anchor.anchor_text_2,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_3%>"><%=truncate(product.url_link.url_link_3,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_3%>"><%=truncate(product.text_anchor.anchor_text_3,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_4%>"><%=truncate(product.url_link.url_link_4,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_4%>"><%=truncate(product.text_anchor.anchor_text_4,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_5%>"><%=truncate(product.url_link.url_link_5,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_5%>"><%=truncate(product.text_anchor.anchor_text_5,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_6%>"><%=truncate(product.url_link.url_link_6,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_6%>"><%=truncate(product.text_anchor.anchor_text_6,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_7%>"><%=truncate(product.url_link.url_link_7,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_7%>"><%=truncate(product.text_anchor.anchor_text_7,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_8%>"><%=truncate(product.url_link.url_link_8,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_8%>"><%=truncate(product.text_anchor.anchor_text_8,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_9%>"><%=truncate(product.url_link.url_link_9,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_9%>"><%=truncate(product.text_anchor.anchor_text_9,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.url_link.url_link_10%>"><%=truncate(product.url_link.url_link_10,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.text_anchor.anchor_text_10%>"><%=truncate(product.text_anchor.anchor_text_10,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.product_cmng_img_tag_html%>"><%=truncate(product.product_cmng_img_tag_html,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.brief_summary_of_menu%>"><%=truncate(product.brief_summary_of_menu,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.po_description_details%>"><%=truncate(product.po_description_details,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><%=product.freight_cost_overide%></td>
            <td valign="top" nowrap><label title="<%=product.origin_zip%>"><%=truncate(product.origin_zip,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.number_of_boxes%>"><%=truncate(product.property.number_of_boxes,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.multi_box_weights%>"><%=truncate(product.property.multi_box_weights,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.property.multi_box_dimensions%>"><%=truncate(product.property.multi_box_dimensions,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><label title="<%=product.invalid_ship_methods%>"><%=truncate(product.invalid_ship_methods,16,"..") rescue nil%></label></td>
            <td valign="top" nowrap><%=product.boolean_phone_number_visibility%></td>
            <td valign="top" nowrap><%=product.boolean_item_number_visiblity%></td>
          </tr>
  <%end%>
  </table>
</div>