<%= form_tag({:action => 'output'}, :multipart => true)%>
<%=render :partial=>"/shared/search_results",:locals=>{:title=>"Output Results"}%>
    <%= submit_tag 'Submit' %>
</form>


<%if !@results.blank?%>
<%=render :partial=>"/shared/products",:locals=>{:products=>@results,:is_edit=>false}%>
<%=render :partial=>"export_csv"%>
<%elsif request.post?%>
<b>No Record Found</b>
<%end%>


