<table width="100%">
  <tr style="background-color: gray;" >
    <td colspan="6" ><b>Reference Fields</b></td>
  </tr>
  <tr>
    <td style="background-color:#CCCCCC;"><b>Freight Cost:</b></td>
    <td style="background-color:#CCCCCC" ><%=product.freight_cost%></td>
    <td style="background-color:#CCCCCC;"><b>Raw Cost + Freight:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.raw_cost_and_freight_cost%></td>
  </tr>
  <tr>
    <td style="background-color:#CCCCCC;" ><b>Real Break-Even:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.real_break_even%></td>
    <td style="background-color:#CCCCCC;"><b>Estimated Break Even:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.estimated_break_even%></td>
  </tr>
  <tr >
    <td style="background-color:#CCCCCC;" ><b>Minimum Competitor Price:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.minimum_price_competitor%></td>
    <td style="background-color:#CCCCCC;"><b>PRICE MATCH:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.price_match%></td>
  </tr>
  <tr>
    <td style="background-color:#CCCCCC;"><b>Profit Amount:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.profit_amount%></td>
    <td style="background-color:#CCCCCC;"><b>% of Profit:</b></td>
    <td style="background-color:#CCCCCC;"><%=product.percentage_profit_amount%></td>
  </tr>
  <tr>
    <td style="background-color:#CCCCCC;"><b>Minimum Acceptable Markup:</b></td>
    <td style="background-color:#CCCCCC;" ><%=product.minimum_acceptable_markup%></td>
    <td style="background-color:#CCCCCC;"><b>Sale Price:</b></td>
    <td style="background-color:#CCCCCC;" ><%=product.output_sale_price%></td>
  </tr>
</table>