<h3>Upload File</h3>

<table border="1" cellspacing="10" cellpadding="0" >
  <tr>
    <td>New Upload</td>
    <td>Add</td>
    <td>Revert</td>
  </tr>
  <tr >
    <td colspan="3" >
  <%= form_tag({:action => 'upload_file'}, :multipart => true)%>
    <label for="file">File to Upload</label>
        <%= file_field_tag "file" %>
    <%= submit_tag 'Upload' %>
   <%=form_tag %>
    </td>
  </tr>
</table>
<%if !@products.blank?%>


    <table border="0" cellspacing="10" cellpadding="0" >
      <tr>
        <td><%= page_entries_info @products, :entry_name => '' %></td>
        <td><%= will_paginate @products %></td>
      </tr>
      <%@products.each do |product|%>
          <tr valign="top">
            <td><b>Path</b></td>
            <td><%=product.path%></td>
          </tr>
          <tr valign="top">
            <td><b>Manufacturer</b></td>
            <td><%=product.manufacturer%></td>
          </tr>
          <tr valign="top">
            <td><b>Code</b></td>
            <td><%=product.code%></td>
          </tr>
          <tr valign="top">
            <td><b>Name</b></td>
            <td><%=product.name%></td>
          </tr>
          <tr valign="top">
            <td><b>Warranty</b></td>
            <td><%=product.warranty%></td>
          </tr>
          <tr valign="top">
            <td nowrap ><b>Is USPS Approved</b></td>
            <td><%=(product.is_usps_approved)?("Yes"):("No")%></td>
          </tr>
          <tr valign="top">
            <td><b>Image</b></td>
            <td><%=product.image%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Item Description - HTML</b></td>
            <td><%=product.Item_description_with_html%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Options</b></td>
            <td><%=product.options%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Item Description - NO HTML</b></td>
            <td><%=product.Item_description_without_html%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Related Items</b></td>
            <td><%=product.related_Items%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Related Referrence SKU</b></td>
            <td><%=product.related_referrence_sku%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Promo Code Section Availablility</b></td>
            <td><%=product.promo_code_section_availablility%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Disclaimer Name</b></td>
            <td><%=product.disclaimer_name%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Disclaimer Text</b></td>
            <td><%=product.disclaimer_text%></td>
          </tr>

          <tr valign="top">
            <td nowrap><b>Product cmng img tag html</b></td>
            <td><%=product.product_cmng_img_tag_html%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Brief summary of menu</b></td>
            <td><%=product.brief_summary_of_menu%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Freight cost overide</b></td>
            <td><%=product.freight_cost_overide%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>PO Description details</b></td>
            <td><%=product.po_description_details%></td>
          </tr>


          <tr valign="top">
            <td nowrap><b>Origin Zip</b></td>
            <td><%=product.origin_zip%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Invalid ship methods</b></td>
            <td><%=product.invalid_ship_methods%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Phone number visibility</b></td>
            <td><%=product.phone_number_visibility%></td>
          </tr>
          <tr valign="top">
            <td nowrap><b>Item number visibility</b></td>
            <td><%=product.item_number_visiblity%></td>
          </tr>

      <%end%>
    </table>

<%end%>
 